.navbar-mobile{
    display: none;
}
i.fa.fa-bars.mobile-nav-toggle {
    display: none;
}
@media(max-width:768px){
    .webnav{
        display: none;
    }
    .navbar-mobile{
        display: none;
    }
    i.fa.fa-bars.mobile-nav-toggle {
        position: fixed;
        right: 16px;
        color: #fff;
        z-index: 9999;
        font-size: 21px;
    }
    .dropdown-menu.show+nav#navbar {
        display: block;
    }
    .dropdown-menu.show {
        display: block;
        padding: 0;
        border: 0;
    }
    i.fa.fa-bars.mobile-nav-toggle.show::before {
        content: "\f00d";
    }
    i.fa.fa-bars.mobile-nav-toggle {
        display: block;
    }
    
}