.social-boxs {
    border-top: 1px solid #eeeeee;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

.social-boxs h4 {
    font-weight: bold;
    font-size: 20px;
    color: #043c6d;
}

.social-lst {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-lst a {
    padding: 0 15px 0 0;
    background: #eeeeee;
    border-radius: 10em;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-lst a .fa {
    background: #690;
    color: #fff;
    padding: 5px 7px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
}
@media(max-width:768px){
    .social-lst {
        flex-direction: column;
        justify-content: left !IMPORTANT;
        align-items: self-start !important;
    }
}