<ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig" 
                        (init)="slickInit()"
                        (breakpoint)="breakpoint()"
                        (afterChange)="afterChange()"
                        (beforeChange)="beforeChange()">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%">
        </div>
</ngx-slick-carousel>